<h1>Employee</h1>

<img src=<%= %"#{@employee_img}"%>>
<h2><%= "#{@employee.first_name} #{@employee.last_name}" %></h2>
<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog: <%= @employee.dog.name %></h3>
