<h1>Employee Stats</h1>
 <img src="<%= @employee.img_url%>"><br><br>
<p1>Employee Name: <%= @employee.to_full_name%></p1><br><br>
<p1>Employee Alias: <%= @employee.alias%></p1><br><br>
<p1> Employee Title: <%= @employee.title%></p1><br><br>
<p1> Employee Office: <%= @employee.office%></p1><br><br>
<p1> Employee's Dog: <%= @dog.name%></p1><br><br>
