<h1><%= @employee.name %></h1><br/>
<h2><%= @employee.alias %></h2><br/>
<h3><%= @employee.title %></h3><br/>
<h4><%= @employee.office%></h4><br/>
<h5><%= @employee.dog %></h5><br/>
<h6><%= @employee.img_url %></h6><br/>

<%= link_to "Show'em MANS", employees_path %>