<h1>Employee Show Page</h1>

<h3>FIRST NAME: <%= @employee.first_name %><br></h3>
<h3>LAST NAME: <%= @employee.last_name %><br></h3>
<h3>ALIAS: <%= @employee.alias %><br></h3>
<h3>TITLE: <%= @employee.title %><br></h3>
<h3>OFFICE: <%= @employee.office %><br></h3>
<%= image_tag "#{@employee.img_url}" %><br>